<%- include('partials/header.ejs') %>

<div class="post_container">
    <div class="post_header">
        <h1 class="post_title"><%= data.title %></h1>
        <h3 class="post_date"><%= data.createdAt.toDateString() %></h3>
    </div>
    <br/>
    <article class="post_body">
        <%- data.body %>
    </article>
</div>

<div class="comment_container">
    <% if (data.comments.length > 0) { %>
        <h2><%= data.comments.length %> Comments</h2>
        <% data.comments.forEach(comment => { %>
            <div class="comment">
                <h3 class="comment_name"><%= comment.name %></h3>
                <p class="comment_content"><%= comment.message %></p>
                <p class="comment_date"><%= comment.createdAt.toLocaleString() %></p>
            </div>
        <% }) %>
    <% } else { %>
        <h2>Comments</h2>
        <p class="no_comments">No comments yet. Be the first!</p>
    <% } %>
</div>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Add Comment</h2>
                    <form action='/post/<%= data._id %>/comment' method="POST">
                        <div class="mb-3">
                            <label for="name" class="form-label">First Name:</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message:</label>
                            <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>